@import "mixin";

.contribution {
  display: flex;
  width: 100%;

  @media (min-width: 1024px) {
    justify-content: center;
  }

  overflow: auto;
  padding-top: 100px;
  padding-bottom: 20px;

  &--graph {
    display: flex;
    flex-direction: column;
  }
}

.contribution-row {
  display: flex;
}

.contribution-block {
  position: relative;
  @include squareHeight();

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  &:active {
    border: 1px solid rgba(0, 0, 0, 0.9);
  }
  .popup {
    position: absolute;
    padding-bottom: 5px;
    z-index: 2;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    &-text {
      border-radius: 3px;
      background: rgba(0, 0, 0, 1);
      color: rgba(124, 124, 124, 1);
      white-space: nowrap;
      padding: 5px;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: rgba(0, 0, 0, 1);
        z-index: 1;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%);
      }

      &__contributions {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        @include textStyles();
        font-size: 12px;
      }

      &__date {
        @include textStyles();
        @include colorText();
        text-align: center;
        font-size: 10px;
      }
    }
  }
}

.no-contribution {
  background-color: rgba(
    237,
    237,
    237,
    1
  ); /* свет для отсутствия контрибуций */
}

.low-contribution {
  background-color: rgba(172, 213, 242, 1); /* свет для 1-9 контрибуций */
}

.medium-contribution {
  background-color: rgba(127, 168, 201, 1); /* свет для 10-19 контрибуций */
}

.high-contribution {
  background-color: rgba(82, 123, 160, 1); /* свет для 20-29 контрибуций */
}

.max-contribution {
  background-color: rgba(37, 78, 119, 1); /* свет для 30+ контрибуций */
}

/********************************************/

.month {
  display: flex;
  @include heigthRow();
  &--label {
    padding: 2px;
    @include textStyles();
    @include colorText();
    font-size: 12px;
  }
  &--label-empty {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}

/********************************************/

.day-label {
  @include squareHeight();
  @include textStyles();
  @include colorText();
  margin-right: 5px;
  font-size: 12px;

  &:first-child {
    @include heigthRow();
  }
}

/*******************************************/

.light-indicator {
  display: flex;
  padding-top: 20px;
  &__text {
    @include textStyles();
    @include colorText();
    font-size: 12px;
  }
  &__colors {
    display: flex;
    padding: 0 5px;
  }
}
